.list-group-item {
  line-height: 2.5;
}

body, h2, caption{
  color:#B7410E ;
}

.navigation-bkgrd {
  background-color: #B7410E ;
}
/* .navbar-light {
  color: white;
} */
/* nav, .nav-link {
  color: white;
} */

.jumbotron {
  padding: 0px; 
  border: 0px;
  background-color: transparent;
}

#dashboardH2{
  text-align: center;
}

.navbar-brand{
  /* color:white; */
  font-weight: bold;
}

#signupContainer, #loginContainer {
margin: auto;
width: 50%;
}

.user-container, #dashboard-table {
  width: 100%;
}

 #time-piece {
   font-size: xx-small;
 }

img {
  width: 100%;
  height: 300px;
  padding-left: -125px;
  border: 0px;
}

.box1{
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 50px;
}

.box1 .text{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 125px;
  background-color: transparent;
}

.btn {
  color: white;
  background-color: #B7410E ;
}

h1 {
  text-align: center;
  font-weight: bolder;
}